@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Qwitcher+Grypen&family=Roboto:wght@300&display=swap');
:root {
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --max-width: 1170px;
    --fixed-width: 620px;
    --white-bg:rgb(255, 255, 255);
    --dark-grey:rgb(100, 100, 100);
    --grey-red:rgb(190, 100, 100);
    --black-light:rgb(56, 56, 56);
    --green-btn:rgb(113, 194, 113);
    --green-btn-hover:rgb(95, 166, 95);
}

*,
::after,
::before  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container {
    max-width: var(--max-width);
    /* /* margin: auto;
    display: flex; 
}  */

a {
    text-decoration: none;
}
body {
    font-family:'Roboto', sans-serif;
    background: var(--white-bg);
    color: var(--dark-grey);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
p {
    margin-bottom: 1.25rem;
    color: var(--dark-grey);
}

@media screen and (min-width: 800px) {
    .navbar-inside {
        position: relative;
    }
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nav-link:hover {
        color: var(--grey-red);
    }

    h1 {
        font-size: 3rem;
    } 
    h2 {
        font-size:2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size:1.5rem; 
    }
    body {
        font-size:1rem;
    }

}
 
.navbar-inside {
    width: 90vw;
    max-width: var(--max-width);
    margin: auto;
}

.addtocart.shop-btn, .update, .createorder {
    color: var(--white-bg);
    background: var(--green-btn)!important;
    border: 1px solid var(--white-bg);
    padding: 0.5rem 0.75rem;
    display: inline-block;
    margin-top: 0.75rem;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    border-radius: var(--radius);
    transition: var(--transition);
}
.shop-btn {
    color: var(--white-bg);
    background-color: var(--grey-red);
    border: 1px solid var(--white-bg);
    padding: 0.5rem 0.75rem;
    display: inline-block;
    margin-top: 0.75rem;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    border-radius: var(--radius);
    transition: var(--transition);
}
.addtocart.shop-btn:hover {
    background: var(--green-btn-hover);
    color: var(--black-light);
}

.cart-container {
    position: relative;
    background: var(--white-bg);
    color: var(--dark-grey);
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    border-color: transparent;
    cursor: pointer;
    font-size: 2rem;
}

.cart-container:hover {
    background: var(--white-bg);
    color: var(--grey-red);
}
.nav-toggle {
    background: var(--grey-red);
    color: var(--white-bg);
    border-radius: var(--radius);
    padding: 0.305rem 0.75rem;
    display: inline-block;
    transition: var(--transition);
    border-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
}
#products {
    max-width: var(--max-width);
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.cart-item-count {
    position: absolute;
    top: 0.2rem;
    right: -0.25rem;
    background: var(--grey-red);
    width: 1.30rem;
    height: 1.30rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: var(--white-bg);
    font-size: 0.75rem;
}
.prod {
    text-align: center;
}
.prod.price {
    display: flex;
    flex-direction: row;

    font-size: 1.5rem;
}
.prod.status {
    color:var(--green-btn-hover);
    padding-right: 1rem;
}
.prod-title{
    font-size: 1.5rem;
    margin: auto;
}
.product.box{
    height: 10rem;
    max-width: 8rem;
}
.prod-img {
    width: 7rem;
}
#prod-details {
    margin-top: 3rem;
    margin: auto;
}
input.prod-amount{
    border-style: solid;
    border-width: 1px;
    color: black;
    padding-left: 1rem;
}
/*
============================================
Nav, nav-toggle appeares as media query
============================================
*/
.navbar {
    height: 6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-inside {
    width: 90vw;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-top:2rem;

}

/* .nav-toggle {
    display: none;
} */
.nav-links {
    display:flex;
    justify-content:space-around;
    text-align: center;

}
.nav-links li {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold; 
}
.wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

/*
=============== 
Cart
===============
*/


@media screen and (min-width:992px) {
    .nav-logo {
        left:50%;
    }
}

.our-goal-btn .material-icons:hover {
    color: var(--title-color);
}
.our-goal-btn .material-icons {
    font-size: 2rem;
    color: var(--text-color);
}


.buttons {
    display: flex;
    gap:0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
/* .grid {
 
} */
.cart-products, .order-products, .cart-chekout, .user-checkout, .product-box.details {
    /* display: flex;
    flex-direction: column; */
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: var(--max-width);
    margin: auto;
} 
.header {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
input.form-btn {
    border: var(--green-btn-hover) solid 0.04rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 2.5rem;
    text-align: center;
}