@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Qwitcher+Grypen&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 980px;
    margin: auto;
}
body {
    font-family: 'Lobster', cursive;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Roboto', sans-serif;
}